
.nav-right{
  margin-left: 0.3125rem;
}


.nav-color{
  background-color: #8bd38b;
  color: #ffffff; 
}

.main-margin{
  margin-top: 5rem ;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.list-group{
  max-width: 200px;
}
